<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Mybehaviours/lib/jade.jar"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="jade.Boot"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-gui OLOLO:ua.behaviourslab.SimpleAgent;LOL:ua.behaviourslab.TimeAgent"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Mybehaviours"/>
</launchConfiguration>
